<h1>Order placed successfully</h1>
<% @orders.each do |order|%>
    <p>
      <strong>Total:</strong>
      <%= order.total%>
    </p><br>
    <p><%= link_to 'Show order', order %></p>
    <p><%= button_to 'Cancle order', order, method: :delete, data: { method: :delete, confirm: "are you sure, want to cancel order", turbo: false } %></p>
<%end%>
<p><%= button_to 'Back', root_path , :method => :get%>
