<table>
<h1> Your order </h1>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
  <th><%= button_to 'Back', root_path , :method => :get%></th>
  <th><%= button_to 'Cart', carts_path , :method => :get%></th>
</p><br>
</table>
