<h1> Your Items </h1>

<div class="row row-cols-1 row-cols-md-3 g-4 my-3">
  <div class = "col-6">
  <p>
      <strong>name:</strong>
      <%= @cart_item.total %>
  </p><br>  
  <p>
      <strong>Total:</strong>
      <%= @cart_item.item.name %>
    </p><br>
    <p>
      <strong>Quantity:</strong>
      <%= @cart_item.quantity %>
    </p>
  </div>
</div>
